body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Шрифт*/
	background-color: #f7ecba; /*Цвет фона*/
	font-size: 18pt; /*Размер шрифта*/
}

h1, h2 {
	text-align: center;
}

p {
	text-align: justify; /*Выравнивание текста*/
}

img {
	width: 100%; /*Ширина*/
}

.desc {
	color: #888; /*Цвет шрифта*/
}

.termin {
	font-family: monospace;
	background-color: rgb(230, 211, 145); 
	padding: 30px; /*Внутренний отступ*/
	border: 1px solid #c5b880; /*Граница*/
	border-radius: 20px; /*Скругление*/
}

section {
	margin: auto;
	width: 70%;
}